<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet" />
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path("home") }}">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("home") }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("home") }}">Tricks</a>
                </li>
                {% if is_granted('ROLE_ADMIN') == false %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign up</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign out</a>
                    </li>
                {% endif %}
            </ul>
        </div>

</nav>
    {% block body %}{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    <script>
        var left = 0;
        var max_length = document.getElementsByClassName('trick_item').length;
        function moveToLeft(item){
            for ($i = 0 ; $i<=5; $i++){
                $elem = document.getElementById(item+(left+$i)).style.display = "block";

            }
            left= left+1;
            console.log(left)
        }
        $(function()  {
            $(".btn-add").on("click", function () {
                var placeholder = $($(this).data("target"));
                var prototype = placeholder.data("prototype");
                var index = placeholder.data("index");

                placeholder.append(prototype.replace(/__name__/g, index));

                index++;

                placeholder.data("index", index);
            });

            $("body").on("click", ".btn-remove", function () {
                $($(this).data("target")).remove();
            });
        });
        $(document).on('change', '.custom-file-input', function () {
            let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
            $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
        });
        $( document ).ready(function() {
            $("div.trick").slice(4, $("div.trick").length).hide();
            $("div.trick_item").slice(4, $("div.trick_item").length).hide();

        });
        $(function () {
            $("div.trick").slice(0, 4).show();
            var full_length = $( ".trick:visible" ).length +  $( ".trick:hidden" ).length;
            $("#loadMoreTrick").on('click', function (e) {
                e.preventDefault();
                $("div.trick:hidden").slice(0, 4).slideDown();
                if(full_length > 4){
                    $("#loadMoreTrick").show();
                }
                if(full_length == $("div.trick:visible").length){
                    $("#loadMoreTrick").hide('slow');
                }
                if($("div.trick:visible").length > 4){
                    $("#loadLessTrick").show('slow');
                }
                else{
                    $("#loadLessTrick").hide();
                }

            });
        });


    </script>
{% endblock %}
</body>
</html>