{% extends 'base.html.twig' %}
{% block title %}{{ trick.slug }}{% endblock %}
{% block metadesc %}{% endblock %}
{% block metatitle %}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1>{{ trick.title }}</h1>

    </div>
{% endblock %}
